---
import Layout from "@src/layouts/Layout.astro";
---

<Layout title="Astro &amp; Cotentful">
	<main>
		<h1 class="text-7xl text-purple-400">Astro &amp; Cotentful</h1>
		<a href="/test-page">Go to Test Page</a>
	</main>
</Layout>
